.p-button {
  background-color: #f9941f;
  border-color: #f9941f;
  color: #ffffff;
}

.p-button:hover {
  background-color: #e68317;
  border-color: #e68317;
}

.p-button:enabled:active {
  background-color: #cc7414;
  border-color: #cc7414;
}

.p-button:disabled {
  background-color: #fde2c2;
  border-color: #fde2c2;
  color: #9ca3af;
}

.p-button:focus {
  box-shadow: 0 0 0 0.2rem rgba(249, 148, 31, 0.4);
}
